@model Genre 
@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <h1>Create</h1>

    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.Name">Name</label>
            <input type="text" asp-for="@Model.Name"  class="form-control" id="name" placeholder="name">
            <span class="text-danger" asp-validation-for="@Model.Name"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

